// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.row {
	width: 240px;
	height: 68px;
	margin-right: 10px;
}
.container {
	text-align: center;
	margin: 0 auto;
}
body {
	height: 100%;
}*/